<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
         bootstrap="test/bootstrap.php"
         backupGlobals="false"
         verbose="true"
>
    <php>
        <const name="SF_USERNAME" value="" />
        <const name="SF_PASSWORD" value="" />
        <const name="SF_SECURITY_TOKEN" value="" />
    </php>
    <testsuites>
        <testsuite name="Tokenizer">
            <directory suffix="Test.php">test/Test/**</directory>
        </testsuite>
    </testsuites>
</phpunit>
